* {
    box-sizing: border-box;
    background-image: url('');
    background-color: cornflowerblue;
}

body {
    height: 50vh;
    margin: 0;
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
}

#headline {
    display: flex;
    align-content: space-between;
    justify-content: center;
}

#timer {
    margin-left: auto;
}

#level {
    flex-direction: column;
    margin: auto;
    text-align: center;
} 

#matches {
    align-items: right;
    margin-right: 0;
    margin-left: auto;
}

h2 {
text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 20vmin);
    grid-template-rows: repeat(4, 20vmin);
    gap: 1vmin;
    margin-top: 20px;
}

#board > div {
    height: 20vmin;
    width: 18vmin;
    border-style: solid;
}